<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact US</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>

<h1 class="text-danger text-center">contact us</h1>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
<a href="{% url 'about' %}" class="btn btn-outline-warning">About</a>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae corporis doloremque magnam quaerat sed soluta. Odio quisquam repellat repellendus similique. Dicta, id ipsam iusto nesciunt nobis numquam odio unde!</span><span>Architecto autem corporis cum cumque doloribus earum eius esse est in incidunt ipsa ipsum, libero nisi, nostrum officiis pariatur, placeat qui quo quod quos rerum saepe similique tenetur vel vero!</span><span>Accusamus consectetur cupiditate delectus dolore doloremque eius eum hic inventore laudantium mollitia, nemo nisi numquam obcaecati odit, pariatur possimus quisquam quod reiciendis repellat rerum suscipit tempore vitae. Non, numquam perferendis.</span></p>

</body>
</html>